@font-face {
    src: url(../fonts/steinbeck/The\ Temporary\ State\ -\ Steinbeck-Regular.woff2) format('woff2'),
        url(../fonts/steinbeck/Steinbeck-Regular.woff) format('woff'),
        url(../fonts/steinbeck/Steinbeck-Regular.ttf) format('truetype'),
        url(../fonts/steinbeck/The\ Temporary\ State\ -\ Steinbeck-Regular.eot) format('eot');
        font-family: "Steinbeck";
        font-weight: 400;
        font-style: normal;
  } 

  @font-face {
    src: url(../fonts/savoye/SavoyeLetPlain.woff2) format('woff2'),
        url(../fonts/savoye/SavoyeLetPlain.woff) format('woff'),
        url(../fonts/savoye/SavoyeLetPlain.ttf) format('truetype'),
        url(../fonts/savoye/SavoyeLetPlain.eot) format('eot');
        font-family: "Savoye";
        font-weight: 300;
        font-style: normal;
  } 